In [ ]:
#-----------DICTIONARIES--------------

In [2]:
# Make a dictionary with {} and : to signify a key and a value
dictionary ={'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [4]:
#calling a key to show value
dictionary['key1']

'value1'

In [5]:
#can store any kind of information
dictionary = {'key1': 123, 'key2': [1, 2, 3], 'key3': ['item1','item2', 'item3']}

In [6]:
dictionary['key1']

123

In [7]:
dictionary['key2']

[1, 2, 3]

In [8]:
dictionary['key3']

['item1', 'item2', 'item3']

In [9]:
#can call item in the key
dictionary['key3'][0]

'item1'

In [10]:
#Can then even call methods on that value
dictionary['key3'][1].upper()

'ITEM2'

In [11]:
dictionary['key3'][2].lower()

'item3'

In [12]:
#add or subtract from the value.
dictionary['key1']

123

In [13]:
dictionary['key1']=dictionary['key1']-123

In [14]:
dictionary['key1']

0

In [20]:
# Set the object equal to itself minus 123 
dictionary['key1'] -= 123
dictionary['key1']

-123

In [21]:
dict_1= {}

In [22]:
#assign key to value
dict_1['animal']= 'cat'

In [23]:
dict_1['answer']= 123

In [25]:
dict_1

{'animal': 'cat', 'answer': 123}

In [26]:
# Dictionary nested inside a dictionary nested in side a dictionary
dict_2 ={'key1': {'nestkey':{'subnestkey': 'value'} }}

In [29]:
dict_2['key1']['nestkey']['subnestkey']

'value'

In [30]:
# Create a typical dictionary
d ={'key1': 1, 'key2': 2, 'key3': 3}

In [31]:
#some functions, .keys lists all keys
d.keys()

['key3', 'key2', 'key1']

In [33]:
#.values grabs all values
d.values()

[3, 2, 1]

In [34]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

[('key3', 3), ('key2', 2), ('key1', 1)]

In [35]:
#------------TUPLES--------------

In [36]:
#Create
tupe = (1, 2, 3)

In [38]:
#length just like lists
len(tupe)

3

In [39]:
#mix object types
tupe =('one', 2, 'three')

# show 
tupe

('one', 2, 'three')

In [40]:
#indexing like lists
tupe[1]

2

In [41]:
#slicing like lists
tupe[-1]

'three'

In [42]:
#this is the method which returns the position of the value on typing the value
tupe.index('three')

2

In [44]:
# Use .count to count the number of times a value appears
tupe.count('one')

1

In [46]:
#tuples are not chanegeble, immutable
tupe[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [47]:
#tuples cannot grow in size what so ever
tupe.append('2')

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
#----------------FILES---------------

In [49]:
%%writefile test.txt
hello , this is a quick test file

Writing test.txt

In [50]:
#opening a file
my_file =open('test.txt')

In [51]:
#reading the file
my_file.read()

'hello , this is a quick test file'

In [52]:
#see what happens when you try to read it next
my_file.read()

''

In [53]:
#go to the start of the file through seek in index 0
my_file.seek(0)

In [54]:
#read
my_file.read()

'hello , this is a quick test file'

In [57]:
my_file.seek(0)
# Readlines returns a list of the lines in the file.
my_file.readlines()

['hello , this is a quick test file']

In [58]:
#writing to a file
# Add a second argument to the function, 'w' which stands for write
my_file=open('test.txt','w+')

In [60]:
#writing the line
my_file.write('this is the second line')

In [65]:
#read the file
my_file.seek(0)
my_file.readlines()

['this is the second line']

In [66]:
%%writefile test.txt
first line
second line

Overwriting test.txt

In [68]:
for line in open('test.txt'):
    print line

first line

second line

In [69]:
# Pertaining to the first point above
for asdf in open('test.txt'):
    print asdf

first line

second line

In [70]:
#-------------------SETS AND BOOLEANS----------

In [71]:
x = set()

In [72]:
#add to set 
x.add(1)

In [73]:
#show 
x

{1}

In [75]:
x.add(2)
#show
x

{1, 2}

In [77]:
#when you add same elements
x.add(1)
#show
x

{1, 2}

In [78]:
#set wont take repeats 
list = {1, 2, 1, 2, 3,4, 5, 6, 7,1, 1}

In [79]:
#cast as set to eliminate repeats
set(list)

{1, 2, 3, 4, 5, 6, 7}

In [81]:
#set operator 
a= True
#show
a

True

In [82]:
#compare value
2<1

False

In [83]:
2>1

True

In [ ]:
#can use none as a placeholder
a = None