In [2]:
#PYTHON STATEMENTS ARE DIFFERENT 
a=3
b=2
if a>b:
    a=2
    b=4

In [9]:
if True:
    print "this is true"

this is true

In [13]:
x= False

if x:
    print 'x was true'
else:
    print 'printed if x is not true and hence false'

printed if x is not true and hence false

In [14]:
location ='Bank'
if location=='Hospital':
    print "Welcome to hospital"
elif location=='Bank':
    print "Welcome to the bank "
else:
    print "we dont know where you are."

Welcome to the bank

In [18]:
person ="Sammy"
if person=="Sammy":
    print "welcome Sammy"
else:
    print "welcome, we dont know your name"

welcome Sammy

In [19]:
person = 'Sammy'
if person == 'george':
    print "hello George"
elif person == 'Sammy':
    print "hello sammy"
else:
    print "welcome, we dont know your name"

hello sammy

In [20]:
#----------------LOOPS-----------

for item in object:
    statements to do stuff

In [21]:
#FOR LOOPS
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print num

1
2
3
4
5
6
7
8
9
10

In [22]:
#modulo
17 % 5

2

In [23]:
10%3

1

In [24]:
18 % 7

4

In [25]:
4 % 2

0

In [27]:
for num in l:
    if num % 2 ==0:
        print num

2
4
6
8
10

In [28]:
for num in l:
    if num % 2 ==0:
        print num
    else:
        print "odd number"

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [29]:
l = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in l:
    list_sum = list_sum+ num
print list_sum

55

In [30]:
list_sum =0
for num in l:
    list_sum +=num
print list_sum

55

In [31]:
#string for loop
for letter in 'this is a String':
    print letter

t
h
i
s

i
s

a

S
t
r
i
n
g

In [33]:
#tuple loop
tup =(1, 2,3, 4, 5)

for t in tup:
    print t

1
2
3
4
5

In [34]:
#PRINT TUPLE AND UNPACK THEM 
tup =[(2, 4), (6, 8), (10, 12)]
for t in tup:
    print t

(2, 4)
(6, 8)
(10, 12)

In [35]:
#unpack that 
for (t1, t2) in tup:
    print t1

2
6
10

In [38]:
#DICTIONARIES
d = {'k1': 1, 'k2': 2, 'k3': 3}
for key in d:
    print key

k3
k2
k1

In [39]:
#listing both KEYS AND VALUES
d.iteritems()

In [40]:
#creating a generator
for key,value in d.iteritems():
    print key
    print value

k3
3
k2
2
k1
1

In [41]:
# For Python 3
for k,v in d.items():
    print(k)
    print(v)

k3
3
k2
2
k1
1

In [42]:
#WHILE LOOP

while test:
    code statement
else:
    final code statements

In [43]:
x =0

while x<10:
    print "the number is currently" , x
    print "adding one to x will be  "
    x +=1

the number is currently 0
adding one to x will be
the number is currently 1
adding one to x will be
the number is currently 2
adding one to x will be
the number is currently 3
adding one to x will be
the number is currently 4
adding one to x will be
the number is currently 5
adding one to x will be
the number is currently 6
adding one to x will be
the number is currently 7
adding one to x will be
the number is currently 8
adding one to x will be
the number is currently 9
adding one to x will be

In [45]:
x =0

while x<10:
    print "the number is currently" , x
    print "adding one to x will be  "
    x +=1
else:
    print "all done!"

the number is currently 0
adding one to x will be
the number is currently 1
adding one to x will be
the number is currently 2
adding one to x will be
the number is currently 3
adding one to x will be
the number is currently 4
adding one to x will be
the number is currently 5
adding one to x will be
the number is currently 6
adding one to x will be
the number is currently 7
adding one to x will be
the number is currently 8
adding one to x will be
the number is currently 9
adding one to x will be
all done!

break: Breaks out of the current closest enclosing loop.
continue: Goes to the top of the closest enclosing loop.
pass: Does nothing at all.

In [47]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    if x==3:
        print 'x ==3'
    else:
        print "continuing....."

x is currently:  0
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  1
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  2
 x is still less than 10, adding 1 to x
x ==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  4
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  5
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  6
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  7
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  8
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  9
 x is still less than 10, adding 1 to x
continuing.....

In [48]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    if x==3:
        print "breaking because x ==3"
        break
    else:
        print "continuing....."
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  1
 x is still less than 10, adding 1 to x
continuing.....
x is currently:  2
 x is still less than 10, adding 1 to x
breaking because x ==3

In [49]:
#BE CAREFUL OF INFINITE LOOPS IF USING WHILE LOOP

In [50]:
#-------RANGE --------

In [52]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
x = range(0,11)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
type(x)

list

In [58]:
start =0
stop =20
x = range(start, stop)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
#skip a beat 
x=range(start, stop, 2)
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
for num in range(10):
    print num

0
1
2
3
4
5
6
7
8
9

In [62]:
for num in xrange(10):
    print num

0
1
2
3
4
5
6
7
8
9

In [63]:
#-----------LIST COMPREHENSIONS--------

In [67]:
#GRAB EVERY LETTER IN string
first =[x for x in 'Word']
first

['W', 'o', 'r', 'd']

In [68]:
# Square numbers in range and turn into list
first =[x**2 for x in range(0,11)]
first

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
# Check for even numbers in a range
first =[x for x in range(11) if x % 2==0]
first

[0, 2, 4, 6, 8, 10]

In [71]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [72]:
#nesting 
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]