In [1]:
#=====NUMBERS=========
#add

In [2]:
2+1

3

In [3]:
#subtract
3-2

1

In [4]:
#multiply
3*2

6

In [5]:
#divide
3/2

1

In [6]:
#divide special cases
3.0/2

1.5

In [7]:
3/2.0

1.5

In [10]:
float(3)/2

1.5

In [14]:
from__future__import division
3/2

SyntaxError: invalid syntax (<ipython-input-14-98e1fa502a97>, line 1)

In [15]:
#power
2**3

8

In [16]:
#roots
4**0.5

2.0

In [17]:
#order of operation 
2+10*10+2

104

In [18]:
#parenthesis
(2+10)*(10+2)

144

In [19]:
# Let's create an object called "a" and assign it the number 5
a=5

In [20]:
# Adding the objects
a+a

10

In [21]:
#reassignment
a=10
#check 
a

10

In [22]:
# Use A to redefine A
a=a+a
#check
a

20

In [23]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

# Show my taxes!
my_taxes

10.0

In [25]:
#====STRINGS=====
'Hello'

'Hello'

In [26]:
'This is also a string'

'This is also a string'

In [27]:
"This is a string with a double quotes."

'This is a string with a double quotes.'

In [28]:
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-28-14297164c075>, line 1)

In [29]:
#Now I'm ready to use the single quotes inside a string!
"Now I'm ready with a quote inside a quote"

"Now I'm ready with a quote inside a quote"

In [30]:
# We can simply declare a string
'Hello'

'Hello'

In [31]:
# note that we can't output multiple strings this way
'Hi'
'Hello'

'Hello'

In [32]:
print 'Hello'
print 'Hi'
print 'hi \n and next line'
print '\n'
print 'and you enter a new line'

Hello
Hi
hi
 and next line


and you enter a new line

In [33]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

Hello World

In [34]:
len('Hello world')

11

In [35]:
#assign
a = 'Hello world'

In [36]:
#check 
a

'Hello world'

In [37]:
#print object
print(a)

Hello world

In [39]:
# Show first element (in this case a letter)
a[0]

'H'

In [40]:
a[1]

'e'

In [41]:
a[2]

'l'

In [42]:
# Grab everything past the first term all the way to the length of s which is len(s)
a[1:]

'ello world'

In [43]:
# Note that there is no change to the original s
a

'Hello world'

In [44]:
# Grab everything UP TO the 3rd index
a[:3]

'Hel'

In [45]:
#Everything
a[:]

'Hello world'

In [46]:
# Last letter (one index behind 0 so it loops back around)
a[-1]

'd'

In [47]:
# Grab everything but the last letter
a[:-1]

'Hello worl'

In [48]:
# Grab everything, but go in steps size of 1
a[::1]

'Hello world'

In [49]:
# Grab everything, but go in step sizes of 2
a[::2]

'Hlowrd'

In [50]:
a[::-1]

'dlrow olleH'

In [51]:
a

'Hello world'

In [52]:
# a[1]='x' cant change

In [53]:
a + 'concatentate me'

'Hello worldconcatentate me'

In [54]:
a= a+' concatenate me'

In [55]:
a

'Hello world concatenate me'

In [56]:
print(a)

Hello world concatenate me

In [57]:
letter ='z'

In [58]:
letter*10

'zzzzzzzzzz'

In [59]:
a

'Hello world concatenate me'

In [60]:
#upper
a.upper()

'HELLO WORLD CONCATENATE ME'

In [61]:
#lower
a.lower()

'hello world concatenate me'

In [62]:
# Split a string by blank space (this is the default)
a.split()

['Hello', 'world', 'concatenate', 'me']

In [64]:
# Split by a specific element (doesn't include the element that was split on)
a.split('w')

['Hello ', 'orld concatenate me']

In [65]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [66]:
#====PRINT FORMATTING====

In [69]:
print ('this is a string')

this is a string

In [71]:
s = 'STRING'
print ('Place another string with a mod and s: %s' %(s))

Place another string with a mod and s: STRING

In [72]:
print ('float %1.2f' %(13.45632))

float 13.46

In [73]:
print ('float %1.0f' %(13.45673))

float 13

In [75]:
print ('float %1.5f' %(13.456781234))

float 13.45678

In [76]:
print ('float %10.2f' %13.24567)

float      13.25

In [77]:
print('float %25.2f' %13.24436)

float                     13.24

In [78]:
print ('here is a string: %s and here is a number %s' %('string', 12.34))

here is a string: string and here is a number 12.34

In [80]:
print ('Here is a number: %r. Here is a string: %r' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: 'hi'

In [81]:
print ('First: %s, Second: %1.2f, Third: %r' %('hi!',3.14,22))

First: hi!, Second: 3.14, Third: 22

In [82]:
print ('This is a string with an {p}'.format(p='insert'))

This is a string with an insert

In [83]:
print ('One:{p}, two:{p} , three:{p}'.format(p='hello'))

One:hello, two:hello , three:hello

In [84]:
print ('object 1:{a} , 2:{b} , 3:{c}'.format(a=13.2 , b='hi', c='ola'))

object 1:13.2 , 2:hi , 3:ola

In [85]:
#====lists====

In [86]:
# Assign a list to an variable named my_list
my_list= [1,2,3]

In [87]:
list_1 = ['string', 'a', 13, 12.345]

In [88]:
len(list_1)

4

In [89]:
list_1 =['one','two','three',4,5]

In [90]:
# Grab element at index 0
list_1[0]

'one'

In [91]:
# Grab index 1 and everything past it
list_1[1:]

['two', 'three', 4, 5]

In [92]:
# Grab everything UP TO index 3
list_1[:3]

['one', 'two', 'three']

In [93]:
#add new in the list
list_1 + ['flower']

['one', 'two', 'three', 4, 5, 'flower']

In [94]:
list_1

['one', 'two', 'three', 4, 5]

In [95]:
# Reassign
list_1 = list_1 + ['add new item to the list']

In [96]:
list_1

['one', 'two', 'three', 4, 5, 'add new item to the list']

In [97]:
# Make the list double
list_1*2

['one',
 'two',
 'three',
 4,
 5,
 'add new item to the list',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item to the list']

In [98]:
#doubling is not permanant
list_1

['one', 'two', 'three', 4, 5, 'add new item to the list']

In [99]:
# Create a new list
l=[1, 2,3]

In [100]:
#append
l.append('append me!')

In [101]:
l

[1, 2, 3, 'append me!']

In [102]:
l.pop()

'append me!'

In [103]:
# Pop off the 0 indexed item
l.pop(0)

1

In [104]:
l

[2, 3]

In [105]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [106]:
popped_item

3

In [107]:
l

[2]

In [108]:
l= l+[3, 4, 5]

In [109]:
l

[2, 3, 4, 5]

In [110]:
new_list = ['a','e','x','b','c']

In [111]:
#show
new_list

['a', 'e', 'x', 'b', 'c']

In [112]:
#reverse is permanant
new_list.reverse()

In [113]:
new_list

['c', 'b', 'x', 'e', 'a']

In [114]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [115]:
new_list

['a', 'b', 'c', 'e', 'x']

In [116]:
# Let's make three lists
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

# Make a list of lists to form a matrix
matrix =[list1, list2, list3]

In [117]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [118]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [119]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [120]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [121]:
first_col

[1, 4, 7]